/* line 20, ../sass/index.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 24, ../sass/index.scss */
html {
  overflow-y: scroll;
}

/* line 28, ../sass/index.scss */
body {
  /* background: #c2dbf1; */
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

/* line 33, ../sass/index.scss */
a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;
}
/* line 37, ../sass/index.scss */
a:hover {
  color: #179b77;
}

/* line 42, ../sass/index.scss */
.form {
  background: rgba(34, 61, 111, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(34, 61, 111, 0.3);
  margin-top: 2%;
}

/* line 51, ../sass/index.scss */
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
/* line 55, ../sass/index.scss */
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
/* line 60, ../sass/index.scss */
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
/* line 72, ../sass/index.scss */
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
/* line 77, ../sass/index.scss */
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

/* line 83, ../sass/index.scss */
.tab-content > div:last-child {
  display: none;
}

/* line 87, ../sass/index.scss */
h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

/* line 94, ../sass/index.scss */
h3 {
  color: #dd3c3c;
  font-weight: 3000;
  font-size: 20px;
  margin: 0 0 40px;
}

/* line 100, ../sass/index.scss */
label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 109, ../sass/index.scss */
label .req {
  margin: 2px;
  color: #1ab188;
}

/* line 115, ../sass/index.scss */
label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 119, ../sass/index.scss */
label.active .req {
  opacity: 0;
}

/* line 124, ../sass/index.scss */
label.highlight {
  color: #ffffff;
}

/* line 128, ../sass/index.scss */
input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 140, ../sass/index.scss */
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

/* line 146, ../sass/index.scss */
textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

/* line 151, ../sass/index.scss */
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

/* line 157, ../sass/index.scss */
.top-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 163, ../sass/index.scss */
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
/* line 167, ../sass/index.scss */
.top-row > div:last-child {
  margin: 0;
}

/* line 173, ../sass/index.scss */
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
/* line 186, ../sass/index.scss */
.button:hover, .button:focus {
  background: #179b77;
}

/* line 191, ../sass/index.scss */
.button-block {
  display: block;
  width: 100%;
}

/* line 196, ../sass/index.scss */
.forgot {
  margin-top: -20px;
  text-align: right;
}
