<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>租借平台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Site CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="./css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/custom.css">

    <link rel="stylesheet" href="./css/admin.css">
</head>

<body>
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Start Atribute Navigation -->

                <div class="attr-nav">
                    <ul>
                        <input class="search_input" placeholder="Search">
                    </ul>
                </div>
                <!-- End Atribute Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="dropdown">
                            <a href="" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop.html">師大市集</a></li>
                                <li><a href="rent.html">師大租借</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="profile.html">Profile</a></li>
                        <li class="nav-item"><a id="signed" class="nav-link" href="login.html">Sign In</a></li>
                        <div id='hello' style="display: none;">
                            <p id="last_name"></p>
                            <p id="first_name"></p>
                        </div>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <div>
        <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-menu" aria-controls="offcanvas-menu">Menu</button>
    </div>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvas-menu" aria-labelledby="offcanvas-menu-Label">
        <div class="offcanvas-header ">
            <h1 class="offcanvas-title text-center display-4" id="offcanvas-menu-Label">Menu</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <nav class="container-fluid admin-nav">
                <a href="admin_contract.html">Contract Management</a>
                <a href="admin_account.html">Account Management</a>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <div id="contract">
            <div class="row justify-content-center filter">
                <div class="col-auto text-center pt-1" v-for="thField in thFields" v-bind:key="thField.name">
                    <input type="text" v-bind:placeholder="thField.text">
                </div>
                <div class="col-auto text-center">
                    <button type="button" class="btn btn-primary">Refresh</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="admin-table">
                    <thead class="contract-head">
                        <tr>
                            <th v-for="thField in thFields" v-on:click="SortTable($event, thField.name)" v-bind:key="thField.name">{{thField.text}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="contract-unit" v-for="(row, idx) in rows" v-bind:key="row.contract_id">
                        <tr class="contract-outline" v-on:click="Details($event, row)">
                            <td>{{row.contract_id}}</td>
                            <td>{{row.publish_id}}</td>
                            <td>{{row.rent_id}}</td>
                            <td>{{row.c_status}}</td>
                            <td v-if="row.c_status === 'continue'">
                                <button class="btn btn-danger delete-btn" v-on:click.stop="MarkContract($event, idx)">X</button>
                            </td>
                            <td v-else></td>
                        </tr>
                        <tr class="contract-details" v-bind:class="{displaydetails : row.delDisplay}">
                            <td colspan="4"><div>租借日期 : {{row.start_date}} ~ {{row.end_date}}</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-fluid popup-window" v-show="toDelete.targetidx !== null">
                <h1 class="text-center mt-3">確定終止契約?</h1>
                <div class="d-flex">
                    <button type="button" class="btn btn-danger flex-fill" v-on:click="toDelete.action=true">Yes</button>
                    <button type="button" class="btn btn-primary flex-fill" v-on:click="toDelete.action=false">No</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-widget">
                                <h4>關於師大市集平台</h4>
                                <p>資料庫理論的作業</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-widget">
                                <h4>團隊成員</h4>
                                <p>第十四組</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-link-contact">
                                <h4>Contact Us</h4>
                                <ul>
                                    <li>
                                        <p><i class="fas fa-envelope"></i>Email: <a
                                                href="mailto:contactinfo@gmail.com">yuhantsao9999@gmail.com</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; Copyright 2021 by <a href="#">team 14</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="js/tamplate/jquery-3.2.1.min.js"></script>
    <script src="js/tamplate/popper.min.js"></script>
    <script src="js/tamplate/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/tamplate/jquery.superslides.min.js"></script>
    <script src="js/tamplate/bootstrap-select.js"></script>
    <script src="js/tamplate/inewsticker.js"></script>
    <script src="js/tamplate/bootsnav.js"></script>
    <script src="js/tamplate/images-loded.min.js"></script>
    <script src="js/tamplate/isotope.min.js"></script>
    <script src="js/tamplate/owl.carousel.min.js"></script>
    <script src="js/tamplate/baguetteBox.min.js"></script>
    <script src="js/tamplate/jquery-ui.js"></script>
    <script src="js/tamplate/jquery.nicescroll.min.js"></script>
    <script src="js/tamplate/form-validator.min.js"></script>
    <script src="js/tamplate/contact-form-script.js"></script>
    <script src="js/tamplate/custom.js"></script>
    <script type="text/javascript" src="js/checkLocalStorage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
    <script src="js/admin_contract.js"></script>
</body>

</html>